.button {
    font: inherit;
    border: 1px solid #1d1b1b;
    background: #1d1b1b;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #776f6f;
    border-color: #776f6f;
  }
  
  .button:focus {
    outline: none;
  }