.button {
    font: inherit;
    border: 1px solid #e04343;
    background: #e04343;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #e04343;
    border-color: #e04343;
  }
  
  .button:focus {
    outline: none;
  }